@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4rem;
  background-color: rgb(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0, 0.8);
}
